*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
  --bg-color: #111111;
  --second-bg-color: #151515;
  --text-color: white;
  --main-color: rgb(253, 206, 187);
}
html{
    font-size: 65%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header span{
    color: var(--main-color);
    text-shadow: 0 0 50px var(--main-color);
}
.logo{
    font-size: 5rem;
    color: var(--text-color);
    font-weight:  600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1,1);
}
.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}
span{
    color: var(--main color);
}
.logo span{
    color: var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 4rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h1 span{
    color: var(--main-color);
    text-shadow: 0 0 50px var(--main-color);

}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 22vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
    position: relative;
    z-index: 10;
    pointer-events: auto;
}
.social-icons a:hover{
    color: white;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.hero::before{
    pointer-events: none;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
.text-animation{
    font-size: 34px;
    font-weight: 200;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    color: var(--main-color);
    content: 'Front-End Developer | Aspiring Data Analyst';
    animation: words 3s infinite;
}
.text-animation span::after{
    content: "";
    position: absolute;
    width: calc(100% + 15px);
    height: 80%;
    border-left: 0px solid var(--main-color);
    right: 10px;
    animation: cursor 0.6s infinte,typing 20s steps (14) infinite;

}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: '';
    }
    21%,
    40%{
        content: '';
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
    color: white;
}
.about h2 span{
    color: var(--main-color);
    text-shadow: 0 0 50px var(--main-color);
}
.about-img{
    border-radius: 50%;
}
.about-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.about-img img:hover{
    box-shadow: 0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.heading{
    text-align: center;
    font-size: 8rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.5;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content .text-animation span::before{
    content: 'Front-End Developer | Aspiring Data Analyst';
    color: var(--main-color);
    animation: words 20s infinite;
}
.about-content .text-animation span::after{
    content: "";
    background-color: var(--second-bg-color);
    position: absolution;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--second-bg-color);
    right: -8px;
    animation: cursor 0.6s infinite,typing 20s steps(14) infinite;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}
.projects{
    background: var(--bg-color);
    color: white;
}
.projects h2{
    margin-bottom: 5rem;
    color: white;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(3,minmax(280px,1fr));
    gap: 1.5rem;
    margin-top: 4rem;
}
.projects-box{
    background-color: var(--main-color);
    color: black;
    height: 200px;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 3rem;
    padding: 2rem;
    box-sizing: border-box;
}
.projects-box:hover{
    background: white;
    color: var(--main-color);
    transform: scale(1.03);
}
.projects-box .projects-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
}
.projects-info h3{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 1.3;
    color: #000;
}
.projects-info p{
    font-size: 2rem;
    font-weight: 400;
    max-height: 100px;
    margin-top: auto;
}
.projects-desc{
    margin-bottom: 12px;
}
tech-used strong{
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-top: 10px;
    margin-bottom: 6px;
}
/* Full black background */
.skills-section {
  background-color: black;
  min-height: 100vh;
  padding: 70px 8%;
}

/* Big Skills title */
.skills-title {
  text-align: center;
  font-size: 80px;
  color: #ffffff;
  margin-bottom: 60px;
  letter-spacing: 3px;
}

/* Container */
.skills-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

/* White skill box */
.skill-box {
  background-color: #ffc5ab;
  min-width: 320px;
  padding: 30px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  z-index:  1;
  color:#000
}

/* Heading inside box */
.skill-header {
  text-align: center;
  font-size: 22px;
  color: #000;
  margin-bottom: 20px;
}

/* Hidden content */
.skill-content {
  color: black;
  text-align: center;
}

/* Small skill boxes */
.skill-content span {
  display: inline-block;
  background-color: rgb(227,220,220);
  color: #000;
  padding: 8px 14px;
  border-radius: 15px;
  margin: 6px;
  font-size: 14px;
  font-weight: 500;
}

/* Glow effect on click */
.skill-box:hover,
.skill-b0x:focus-within {
  background-color: #ffe7e7;
  transform: translateY(-12px)scale(1.03);
  color: #f4aaaa;
}

/* Inner content text */
.skill-box:hover .skill-content span,
.skill-box:focus-within .skill-content span {
  color: #f4aaaa;  /* small text turns light rose */
}

/* Smooth text transition */
.skill-box h3,
.skill-box span {
  transition: color 0.35s ease;
}

.contact{
    background-color: var(--second-bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: white;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact p{
    font-size: 20px;
    margin: 12px 0;
}
.cotact-links a{
    color: #61affd;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s,transform 0.2s;
}
.contact-links a:hover{
    color:#f4aaaa;
    transform: scale(1.05);
}
.contact form .btn{
    margin-top: 2rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}

@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .projects-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .projects{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0,0,0,0.9);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
        margin-top: -2rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-content{
        margin: 0 2rem 4rem;
    }
    .about img{
        width: 52vw;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .projects h2{
        margin-bottom: 3rem;
    }
    .projects-container{
        grid-template-columns: repeat(1,1fr);
    }
}
